.carousel-container {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel {
  max-width: 75%;
}

.carousel-caption-positon {
  position: static !important;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
  }

  .push {
    height: 100px;
  }